<div class="inbox-container">

  <!-- Header -->
  <div class="inbox-header">
    <div class="header-left">

         <!-- Back Button -->
    <button class="back-btn" (click)="goToDashboard()" title="Back to Dashboard">
      <mat-icon>arrow_back</mat-icon>
    </button>
      <!--span class="hamburger">&#9776;</span-->
      <span class="header-title">My Inbox</span>
    </div>

    <div class="header-brand">Leadership Scoreboard</div>

    <div class="header-right">
     
    </div>
    
  </div>

  <!-- Tabs + Search -->  
  <div class="toolbar-row">
    <div class="tabs">
      <span
        class="tab"
        [class.active]="activeTab === 'pending'"
        (click)="switchTab('pending')">
        Pending Tasks
      </span>
      <span
        class="tab"
        [class.active]="activeTab === 'completed'"
        (click)="switchTab('completed')">
        Completed Tasks
      </span>
    </div>


    <input
      type="text"
      class="search-input"
      placeholder="Search tasks..."
      [(ngModel)]="searchTerm" />
      
  </div>

  <!-- Table -->
  <table class="task-table">
    <thead>
      <tr>
    <th (click)="sortBy('requestId')">
      Request ID
      <span *ngIf="sortColumn==='requestId'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
    </th>
      <th (click)="sortBy('assignedOn')">
        Assigned On
      <span *ngIf="sortColumn==='assignedOn'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>

      </th>
      <th (click)="sortBy('subject')">
        <span *ngIf="sortColumn==='subject'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
        Subject</th>
            <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of currentTasks">
        <td>{{ task.requestId }}</td>
      <!--td>{{ task.assignedOn  }}</td-->
      <td>{{ (task.assignedOn + 'Z') | date:'dd-MMM-yyyy, hh:mm a' }}</td>
      <td>{{ task.subject }}</td>
<td>
          <button class="open-task-btn" (click)="openTask(task)">Open Task</button>
        </td>
      </tr>
      <tr *ngIf="currentTasks.length === 0">
        <td colspan="6" class="no-data">No tasks found.</td>
      </tr>
    </tbody>
  </table>

</div>