<div class="dashboard-container">
  <!-- ================= Header ================= -->

  <header class="dashboard-header">
    <div class="header-left">
      <div>
        <h1>Leader Dashboard</h1>

        <!-- <p>Welcome back, {{loggedInUser}} 👋</p> -->
      </div>
    </div>

    <div class="header-right">
   

      <div class="profile">
        <img src="https://i.pravatar.cc/100?img=12" alt="profile" />

        <div>
          <h4>{{loggedInUser}}</h4>

     
        </div>
      </div>
    </div>
  </header>

  <!-- ================= Filter ================= -->

  <div class="filter-section">
    <mat-button-toggle-group
      [(value)]="selectedPeriodType"
      (change)="onPeriodTypeChange($event.value)"
    >
      <mat-button-toggle value="monthly"> Monthly </mat-button-toggle>

      <mat-button-toggle value="quarterly"> Quarterly </mat-button-toggle>

      <mat-button-toggle value="annual"> Annual </mat-button-toggle>
    </mat-button-toggle-group>

    <!-- MONTH -->

    <mat-form-field
      *ngIf="selectedPeriodType === 'monthly'"
      appearance="outline"
       class="period-filter"
    >
      <mat-label>Month</mat-label>

      <mat-select
        [(value)]="selectedMonth"
        (selectionChange)="onPeriodChange()"
      >
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- QUARTER -->

    <mat-form-field
      *ngIf="selectedPeriodType === 'quarterly'"
      appearance="outline"
       class="period-filter"
    >
      <mat-label>Quarter</mat-label>

      <mat-select
        [(value)]="selectedQuarter"
        (selectionChange)="onPeriodChange()"
      >
        <mat-option *ngFor="let quarter of quarters" [value]="quarter.value">
          {{ quarter.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- YEAR -->

    <mat-form-field
      *ngIf="selectedPeriodType === 'annual'"
      appearance="outline"
       class="period-filter"
    >
      <mat-label>Year</mat-label>

      <mat-select [(value)]="selectedYear" (selectionChange)="onPeriodChange()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

     <button
    mat-raised-button
    class="inbox-btn"
    (click)="goToMyInbox()">
    <mat-icon>mail</mat-icon>

    My Task

    <span>
      {{userPendingTaskCount || 0}}
    </span>

  </button>

  </div>

  

  <!-- ================= KPI Cards ================= -->

  
  <!-- ================= Row 1 ================= -->
  <div class="dashboard-row">
    <div class="dashboard-row first-row">
      <!-- Leaderboard -->

      <mat-card class="leaderboard-card">
        <div class="card-header">
          <h3>{{ selectedPeriodType | titlecase }} Leaderboard</h3>

          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Rank</th>

                <th>Employee</th>

                <th>Points</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let data of paginatedTop5Data; let i = index">
                <td>
                  {{ i + 1 }}
                </td>

                <td>
                  <div class="employee">
                    <div class="avatar">
                      {{ getInitials(data.CREATEDFOR) }}
                    </div>

                    <div>
                      <h5>
                        {{ data.CREATEDFOR }}
                      </h5>

                      <span>
                        {{ data.CURRENTSTAGE }}
                      </span>
                    </div>
                  </div>
                </td>

                <td>
                  {{ data.TOTALPOINTS || 0 }}
                </td>
              </tr>

              <!-- No Data -->

              <tr *ngIf="top5Data.length === 0">
                <td colspan="3" class="no-data">
                  No top leaders found for the selected period.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

          <mat-paginator
    *ngIf="top5Data.length > 0"
    [length]="top5Data.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onTop5PageChange($event)"
    showFirstLastButtons>

  </mat-paginator>

      </mat-card>

           <!-- Achievement Badges -->

      <mat-card class="badge-card">
        <div class="card-header">
          <h3>{{ getAchievementBadgeTitle() }}</h3>
        </div>

        <div class="badge-content">
          <div class="badge-grid">
            <div class="badge-item">
              🏆

              <span>Innovation Champion</span>
              <span>{{ getBadgeCount('Innovation & AI Adoption') }}</span>
            </div>

            <div class="badge-item">
              ⭐

              <span>Knowledge Guru</span>
              <span>{{ getBadgeCount('Technical Excellence') }}</span>
            </div>

            <div class="badge-item">
              🚀

              <span>Collaboration Star</span>
              <span>{{ getBadgeCount('Leadership & Team Development') }}</span>
            </div>

            <div class="badge-item">
              🤝

              <span>Culture Champion </span>
              <span>{{ getBadgeCount('Employee Engagement & Culture') }}</span>
            </div>

            <div class="badge-item">
              💡

              <span>Impact Star</span>
              <span>{{ getBadgeCount('Business Impact') }}</span>
            </div>

            <!-- <div class="badge-item">
              🎯

              <span>Goal Achiever</span>
              <span>0</span>
            </div> -->
          </div>
        </div>
      </mat-card>

  
      



    </div>
    <!-- ================= Row 2 ================= -->

    <div class="dashboard-row second-row">
 
      
       <!-- Performance -->



<mat-card class="performance-card">

  <div class="card-header">
    <h3>My Performance</h3>
  </div>

     <!-- Column Titles -->
  <div class="performance-title-row">
    <span>Category</span>
    <span>Total Points</span>
  </div>

  <div class="performance-list">

    <div
      class="progress-item"
      *ngFor="let performance of performanceData">

      <div class="progress-header">
        <span>{{ performance.category }}</span>
        <strong>{{ performance.percentage }}</strong>
      </div>

      <mat-progress-bar
        mode="determinate"
        [value]="performance.percentage">
      </mat-progress-bar>

    </div>

    <div
      class="performance-no-data"
      *ngIf="performanceData.length === 0">
      No performance data for this period.
    </div>

      <!-- Total Points -->
  <div
    class="performance-total"
    *ngIf="performanceData.length > 0">

    <span>Total</span>
    <strong>{{ getTotalPoints() }}</strong>

  </div>

  </div>

</mat-card>

        <!-- Recognition Category Chart -->
  
<mat-card class="category-card">

  <div class="card-header">

    <h3>
      Recognition Categories
    </h3>

  </div>

  <div class="category-chart-container">

    <!-- ============================= -->
    <!-- DONUT CHART -->
    <!-- ============================= -->

    <apx-chart

      [series]="donutChart.series"

      [chart]="donutChart.chart"

      [labels]="donutChart.labels"

      [legend]="donutChart.legend"

      [responsive]="donutChart.responsive">

    </apx-chart>


    <!-- ============================= -->
    <!-- NO DATA MESSAGE -->
    <!-- ============================= -->

    <div
      class="category-no-data"
      *ngIf="!hasCategoryData">

      <span>
        No data for this period
      </span>

    </div>

  </div>

</mat-card>

 

    

   

      

    </div>
  </div>
</div>
